nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  background: #4d37c7;
  color: #fff;
  .logo {
    h5 {
      font-size: 18px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
    img {
      position: absolute;
      left: 148px;
      width: 14px;
    }
    h6 {
      font-size: 16px;
    }
    input {
      border-radius: 5px;
      padding: 7px;
      margin-left: 10px;
      outline: none;
      border: none;
    }
  }
}
